.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  border-radius: 3px;
  border-color: black;
}
.space {
  margin-top: 10px;
}

.box {
  background-color: lightgrey;
  width: 300px;
  border: 5px solid yellowgreen;
  padding: 50px;
  margin: 20px;
  justify-content: center;
}
