.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  border-radius: 3px;
  border-color: black;
}
.space {
  margin-top: 10px;
  margin-left: 67px;
}
