.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}
.space {
  margin-top: 10px;
  margin-left: 67px;
  margin-bottom: 20px;
}
.box-container {
  margin: 10px 10px 10px 10px;
  border: 1px solid black;
  border-radius: 25px;
  color: black;
  padding: auto;
  width: auto;
}
