@media only screen and (max-width: 767px) {
  .tableWidth {
    width: 300px;
  }
  .sticky-col1 {
    position: sticky;
    left: 0px;
    z-index: 2;
    background: darkgray;
  }
  .sticky-col2 {
    position: sticky;
    left: 103px;
    z-index: 2;
    background: darkgray;
  }
  .sticky-col {
    position: sticky;
    z-index: 2;
  }
}
