@media only screen and (max-width: 767px) {
  .viewScreen {
    width: 300px;
  }
  .hide-col {
    width: 100px;
  }
  .wrapper {
    position: relative;
  }
  .sticky-col1 {
    position: sticky;
    left: 0px;
    z-index: 2000;
    background: darkgray;
  }
  .sticky-col {
    position: sticky;
    z-index: 2000;
  }
  .sticky-col2 {
    position: sticky;
    left: 103px;
    z-index: 2000;
    background: darkgray;
  }
  .first-col {
    width: 50px;
    left: 0px;
    z-index: 2000;
    background: grey;
  }
  .second-col {
    width: 150px;
    left: 103px;
    z-index: 2000;
    background: grey;
  }
}
